body{
    background-color: #111;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
form{
    margin: 10px;
}
.task-input{
    border: none;
    padding: 10px;
    height: 15px;
    width: 200px;
}
.date-input{
    border: none;
    padding: 10px;
    height: 15px;
    width: 15px;
}
.submit-btn{
    border: none;
    height: 35px;
    width: 50px;
    cursor: pointer;
}
.submit-btn:active{
    background-color: #666;
}
.to-do-list .tasks{
    margin-left: 20px;
    display: grid;
    grid-template-columns: 285px 20px;
}
.to-do-list .finished-list-container .tasks {
    color: #666;
    text-decoration: line-through;
}
.tasks{
    border-bottom: 1px solid;
    padding: 10px;
    width: 300px;
}
.dates{
    font-size: x-small;
}